h1{
    background-color: aqua;
}

.do{
    background-color: blueviolet;
    text-align: center;
    height: 100px;
    width: 100px;

}

.my{
    background-color: seashell;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 1px solid red;
    text-align: center;

}
.p{
    padding-top: 80px;
}